* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

textarea::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E5E5E5;
    background-repeat: no-repeat;
}

.header {
    display: flex;
}

.header img {
    width: 95px;
    height: 95px;
    margin-left: -15px;
    margin-bottom: -25px;
}

.main {
    flex-grow: 1;
}

.Sec_1 {
    padding: 2rem;
}

.Sec_1 textarea {
    width: 100%;
    height: 300px;
    border: none;
    padding: 2rem 2rem 2rem;
    outline: none;
    font-size: 2rem;
    color: #0A3871;
    resize: none;
    border-radius: .5rem;
    background-color: #FFFF;
    font-size: 1.8rem;
}

.Sec_1 textarea::placeholder {
    color: #0A3871;
}

.warning_block {
    display: flex;
    gap: 1rem;
    padding: 4rem 0;
}

.warning_block p {
    font-size: 1.4rem;
    color: #495057;
}

.container-buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.button {
    padding: 1.8rem 1.5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    transition: 300ms;
    color: #0A3871;
    background: transparent;
    border: 1px solid #0A3871;
    transition: 300ms;
    font-weight: 700;
}

.button:hover {
    background-color: #0A3871;
}

.button--copy {
    animation: copy 100ms 2 alternate;
}

@keyframes copy {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.b1 {
    background-color: #0A3871;
    color: #D8DFE8
}

.b2:hover+.b1 {
    background: transparent;
    color: #0A3871;
}

.b2:hover {
    color: #D8DFE8
}

/* BLOQUE 2 */
.Sec_2 {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
}

.container-textarea {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #FFFF;
}

.container-textarea .warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto 0;
}

.container-textarea .warning img {
    width: 80%;
    margin-bottom: 2rem;
}

.container-textarea .warning p {
    text-align: center;
    font-size: 2rem;
    max-width: 300px;
    color: var(--skyblue);
    font-weight: 900;
}

.container-textarea .warning span {
    color: #495057;
    text-align: center;
    max-width: 300px;
    color: var(--white);
    font-weight: 300;
    font-size: 1.9rem !important;
}

.Sec_2 textarea {
    width: 100%;
    height: 300px;
    background: transparent;
    outline: none;
    resize: none;
    border: none;
    color: var(--white);
    font-size: 1.8rem;
}

.warning {
    padding: 3rem 2rem;
}

.warning img {
    display: none;
}

.resultados {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resultados button {
    margin-top: 1.5rem;
}

.novisible {
    display: none !important;
}

@media (min-width: 780px) {
    body {
        flex-direction: row;
        height: 100vh;
        max-width: 1400px;
        margin: 0 auto;
    }

    .header {
        padding: 0 2rem;
        margin-right: -2rem;
    }

    .header img {
        margin: 1.7rem -3.5rem;
    }

    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .main>section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .main>section:nth-child(2) {
        min-width: 320px;
    }

    .Sec_1 textarea {
        height: 100%;
        font-size: 2.1rem;
        margin: 0;
        padding: 4rem 4rem;
    }

    .container-global {
        width: max-content;
        width: 100%;
    }

    .container-buttons {
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
        padding: 0;
        gap: 1.5rem;
    }

    .container-buttons button {
        flex-grow: 1;
        width: inherit;
    }

    .button {
        width: 100%;
    }

    .warning_block {
        padding: 2rem 0.5rem 4rem;
    }

    .warning_block p {
        font-size: 1.5rem;
    }

    .container-textarea {
        height: 100%;
        padding: 2rem;
    }

    .Sec_2 textarea {
        flex-grow: 1;
        font-size: 2.1rem;
    }

    .container-textarea button {
        width: 100%;
        max-width: 100%;
    }

    .container-textarea .warning p {
        font-size: 2rem;
    }

    .warning {
        padding: 1rem;
    }

    .warning img {
        display: inherit;
        width: 100%;
    }
}

@media (min-width: 960px) {
    .button {
        width: 49%;
        font-size: 1.7rem;
    }

    .container-textarea .warning p {
        font-size: 2.2rem;
    }

    .container-textarea .warning span {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    .Sec_1 textarea {
        font-size: 2.2rem
    }

    .Sec_2 textarea {
        font-size: 2.2rem;
    }
}

@media (min-width: 1300px) {
    .header {
        padding: 0 2rem;
        margin-right: -.5rem;
    }
}